
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><i class="fas fa-cog"></i> {{ 'Setting social networks'|trans }}</h1>
	<p>{{ 'Here you can edit the settings of the service'|trans }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form" role="form">
	<input type="hidden" name="action" value="save_settings_social_media">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_settings_social_media') }}">
	<div class="form-group row">
		<label for="url_facebook" class="col-sm-3 col-form-label">{{ 'Facebook URL'|trans }}:</label>
		<div class="col-sm-9">
			<input type="text" name="url_facebook" title="{{ 'Facebook URL'|trans }}" value="{{ settings.url_facebook }}" class="target_facebook_side_panel form-control">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-9 offset-sm-3">
			<label><input type="checkbox" name="facebook_side_panel" title="{{ 'Show side panel with Facebook'|trans }}" {% if settings.facebook_side_panel %}checked{% endif %} class="set_required" data-target="target_facebook_side_panel"> {{ 'Show side panel with Facebook'|trans }}</label><br>
		</div>
	</div>
	<div class="form-group row">
		<label for="facebook_lang" class="col-sm-3 col-form-label">{{ 'Facebook - identification of language'|trans }}:</label>
		<div class="col-sm-9">
			<input type="text" name="facebook_lang" title="{{ 'Facebook - identification of language'|trans }}" value="{{ settings.facebook_lang }}" required placeholder="pl_PL" class="form-control">
		</div>
	</div>
	<hr>
	<div class="form-group row">
		<div class="col-sm-9 offset-sm-3">
			<label><input type="checkbox" name="allow_comments_fb_article" title="{{ 'Allow comments on articles via Facebook account'|trans }}" {% if settings.allow_comments_fb_article %}checked{% endif %}> {{ 'Allow comments on articles via Facebook account'|trans }}</label><br>
			<small class="form-text text-muted"><a href="https://developers.facebook.com/docs/plugins/comments/" title="Facebook Comments Documentation" target="_blank" rel="nofollow noopener">https://developers.facebook.com/docs/plugins/comments/</a></small><br>
			<label><input type="checkbox" name="social_facebook" title="{{ 'Show icon sharing from'|trans }} Facebook" {% if settings.social_facebook %}checked{% endif %}> {{ 'Show icon sharing from'|trans }} Facebook</label><br>
			<label><input type="checkbox" name="social_pinterest" title="{{ 'Show icon sharing from'|trans }} Pinterest" {% if settings.social_pinterest %}checked{% endif %}> {{ 'Show icon sharing from'|trans }} Pinterest</label><br>
			<label><input type="checkbox" name="social_twitter" title="{{ 'Show icon sharing from'|trans }} Twitter" {% if settings.social_twitter %}checked{% endif %}> {{ 'Show icon sharing from'|trans }} Twitter</label><br>
			<label><input type="checkbox" name="social_wykop" title="{{ 'Show icon sharing from'|trans }} Wykop.pl" {% if settings.social_wykop %}checked{% endif %}> {{ 'Show icon sharing from'|trans }} Wykop.pl</label>
		</div>
	</div>
	<hr>
	<div class="form-group row">
		<div class="col-sm-9 offset-sm-3">
			<input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
